doctype html
html
   head
      meta( charset = 'UTF-8' )
      link( rel = 'stylesheet' href = './styles/styles.css' )
      script( src = './scripts/script.js' )
   body
      div.container
         h3.text MAKE YOUR PROJECT BUILDER.
