<!DOCTYPE>
<html>
   <head>
      <meta charset = 'utf-8'>
      <link rel = 'stylesheet' href = './styles/styles.css'>
      <script src = './scripts/script.js'></script>
   </head>
   <body>{% set hi = 'Hi world!' %}
      {{ hi }}
   </body>
</html>
